// Demo CSS
@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

$app-color-accent: #333;

body, html, .row, .row > div, #inner {
  margin: 0;
  overflow: hidden;
  height: 100%;
}
body { background: url('../img/portal.jpg') no-repeat center / cover fixed; }
a {
  color: $app-color-accent !important;
  &:hover { text-decoration: none !important; }
  #credit & {
    font: 2.5rem 'Just Me Again Down Here', cursive;
    margin-left: 10px;
  }
}
#title, .lead, ul { margin-bottom: 60px; }
#title {
  font: 300 4rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 8px;
}
#documentation {
  padding: 80px;
  overflow-y: scroll;
}
#portal-area {
  padding: 80px;
}
#inner {
  border-radius: 30px;
  border: 6px dashed $app-color-accent;

}
#heart {
  font: bold 2rem 'Times';
  display: inline-block;
  transform: translateY(0.2rem);
}
