// Demo CSS

$app-color-accent: #373A3C;

body {
  padding: 120px 40px;
  background: url('../img/portal.jpg') no-repeat center center fixed;
  background-size: cover;
}
a {
  color: $app-color-accent !important;
  border-bottom: 1px dashed rgba($app-color-accent, 0.3);
  &:hover {
    color: $app-color-accent;
    text-decoration: none !important;
  }
}
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 60px;
  letter-spacing: 8px;
  font-weight: 300;
}
.lead, ul, h1 { margin-bottom: 60px; }
.heart {
  color: $app-color-accent;
  font-size: 160%;
  font-weight: bold;
  display: inline-block;
  transform: translateY(4px);
  font-family: 'Times';
}
#portal-area {
  padding: 40px;
  border: 6px dashed $app-color-accent;
  border-radius: 30px;
  height: 500px;
}
